# Agnes AI Configuration (Default)
AGNESAI_API_KEY=
AGNESAI_BASE_URL=https://apihub.agnes-ai.com/v1

# Optional OpenAI Provider
OPENAI_API_KEY=
OPENAI_BASE_URL=

# Optional Google Provider
GOOGLE_API_KEY=
